/* @import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {

  @apply bg-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}


.animation-delay-25 {
	animation-delay: 25ms;
}
.animation-delay-50 {
	animation-delay: 50ms;
}
.animation-delay-75 {
	animation-delay: 75ms;
}
.animation-delay-100 {
	animation-delay: 100ms;
}
.animation-delay-150 {
	animation-delay: 150ms;
}
.animation-delay-200 {
	animation-delay: 200ms;
}

.animation-once {
	animation-iteration-count: 1;
}
.animation-twice {
	animation-iteration-count: 2;
}